@using CSMF.WebMvc.Models.Branches;
@model IEnumerable<BranchReadViewModel>
@{
    ViewData["Title"] = "Branches";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <a asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> New
    </a>
</div>

<table class="table table-striped table-hover">
    <thead class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phones</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var branch in Model)
            {
                <tr>
                    <td>@branch.Name</td>
                    <td>@branch.Email</td>
                    <td>
                        <span>@string.Join(", ", branch.Phones)</span>
                    </td>
                    <td>@branch.Address</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@branch.Id" class="btn btn-sm btn-outline-primary me-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <form id="delete-form-@branch.Id" asp-action="Delete" asp-route-id="@branch.Id" method="post" class="d-inline">
                            <button type="button" class="btn btn-sm btn-outline-danger"
                                    onclick="confirmDelete(@branch.Id,'branch')">
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        </form>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">
                    <em>No data avaliable.</em>
                </td>
            </tr>
        }
    </tbody>
</table>


